body {
    margin: 0;
    font-family: 'HanHei SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    transition: color 0.3s;
    text-decoration: none;
    color: #00A388;
}

a:hover, #sitenav a:hover, article .title a:hover {
    transition: color 0.3s;
    /*color: #E74C3C*/
    color: #FF6347;
}

a.current {
    /*color: #E74C3C;*/
    color: #FF6347;
}
a.nav {
    /*color: #87ffaa;*/
    color: #fcfcfc
}
a.articletitle {
    color: #2f4f4f
}
/*头部*/
#sitenav {
    padding: 1em 0;
    background: #333;
    transition: all 0.5s ease;
    width: 100%;
}

/*导航列表*/
.navs {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

/*单个导航*/
.navs li {
    display: inline-block;
    font-size: 1.5em;
}
