body {
    margin: 0;
    font-family: 'HanHei SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    transition: color 0.3s;
    text-decoration: none;
    color: #00A388;
}
/*a.site {
    color: #fff;
}*/

a:hover {
    transition: color 0.3s;
    color: #E74C3C
}

.current {
    color: #E74C3C;
}



/*头部*/
#sitenav {
    /*position: fixed;*/
    /*display: flex;*/
    /*text-align: center;*/
    padding: 1em 0;
    background: #333;
    /*background: #fcfcfc;*/
    /*border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);*/
    /*justify-content: center;*/
    /*height: 90px;*/
    transition: all 0.5s ease;
    width: 100%;
    /*min-width: 320px;*/
    /*z-index: 998;*/
}
/*
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;

    width: 100%;

}*/

/*头部logo区*/
/*.logo {
    font-family: YouYuan;
    font-size: 1.5em;
    margin: 0 0 0 3em;
    opacity: 1;
}*/

/*导航列表*/
.navs {
    /*margin: 0 1.5em;*/
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

/*单个导航*/
.nav {
    display: inline-block;
    font-size: 1.5em;
    /*font-weight: 700;*/
    /*padding: 0 2em;*/
}
