body {
    margin: 0;
    font-family: 'HanHei SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /*background: #F2F2F2;*/
    /*color: #5B5B5B;*/
    /*overflow: scroll;   */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    transition: color 0.3s;
    text-decoration: none;
    color: #00A388;
}
a.site {
    /*color: #2C3E50;*/
    color: #124D72
}
a.readmore {
    color: #E74C3C;
    /*color: #FF6138;*/
}
/*a:visited {
    color: #5B5B5B
}*/
a:hover {
    transition: color 0.3s;
    color: #E74C3C
}

.current {
    color: #E74C3C;
    /*color: #FF6138;*/
}

#main {
    position: relative;
    display: flex;
    justify-content: space-between;
    /*min-width: 960px;*/
    margin: 0 auto;
    padding: 90px 20px 0 20px;
}

/*头部*/
#header {
    position: fixed;
    display: flex;
    background: #fcfcfc;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
    justify-content: center;
    height: 90px;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 998;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;

    width: 100%;

}

/*头部logo区*/
.logo {
    font-family: YouYuan;
    font-size: 1.5em;
    margin: 0 0 0 3em;
    /*padding-left: 3em;*/
    opacity: 1;
    /*z-index: 998*/
}

/*导航列表*/
.navs {
    margin: 0 1.5em;
    padding: 0;
    list-style: none;
}

/*单个导航*/
.nav {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 2em;
}

/*文章区*/
#article {
    width: 63%;
    /*min-width: 500px;*/
    margin-top: 3em;
}

/*单篇文章*/
article {
    background: #fff;
    margin: 0 0 2em;
}

/*文章、侧栏、评论信息区(包含标题、作者、时间等信息)*/
.articleinfo, .asideinfo {
    padding: 1em;
    background-color: #fcfcfc;
    /*color: white;*/
    border: 1px solid #d8d8d8;
    border-bottom: 1px solid #818181;
    border-radius: 10px 10px 0 0;
    /*cursor: pointer;*/
    margin: 0;
}

/*文章标题*/
article .title {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    display: inline-block;
}

/*文章发布时间*/
.pubdate {
    font-size: 0.8em;
    margin-top: 1em;
    color: #9c9c9c;
    font-weight: 400;
}

/*文章内容*/
article .content {
    padding: 0 3em 1.5em;
    line-height: 1.45;
    border: 1px solid #d8d8d8;
    border-radius: 0 0 10px 10px;
}

.content img {
    /*transition: transform 0.5s;*/
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/*.content img:hover {
    transform: scale(1.05)
}*/

.articletags {
    /*display: flex;
    justify-content: flex-start;*/
    padding: 0;
    margin: 0;
    /*padding-bottom: 1em;*/
}
.tag {
    font-size: 0.8em;
    border-radius: 10px;
    background: #ebebeb;
    margin: 0.5em;
    padding: 0.5em;
    display: inline-block;
}

/*.article {
    border-bottom: 5px inset orange
}*/

/*侧边栏*/
aside {
    width: 33%;
    /*min-width: 350px;*/
    background: #fff;
    margin-top: 3em;
    /*padding: 3em;*/
    display: table
}

/*侧边栏直接子项*/
aside > * {
    padding: 0;
    margin-bottom: 2em
}

#socials {
    margin-bottom: 0;
}

/*aside .title {
    padding: 1em;
    background: black;
    color: white;
    border-radius: 20px 20px 0 0;
    font: 1.1em;
    border-bottom: 1px solid;
    margin: 0;
    position: relative;
    cursor: pointer;
}*/

/*侧边栏内列表*/
aside ul {
    border: 1px solid #d8d8d8;
    padding: 1em;
    margin: 0;
    list-style: none;
}

/*侧边栏内标题*/
aside .title {
    margin: 0;
    display: inline-block;
}

/*侧边栏内单个列表元素*/
aside li {
    margin: 1em 0 0;
}
aside li:nth-child(1) {
    margin: 0
}

#socials {
    background: #fcfcfc;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

#socials > *{
    flex: 1;
    text-align: center;
    /*color: #777777;*/
    /*padding: 0 0.5em;*/
    border-right: 1px solid #eaeaea;
}
#socials a:last-child{
    border-right: none
}
/*#socials a:hover {
    color: black
}*/
/*社交图表区*/
/*.socials {
    padding: 0
}*/


/*.tags {
    display: flex
}*/

/*箭头图案*/
.slideicon {
    color: #777777;
    padding: 3px;
    cursor: pointer;
    /*content: '\25bc';*/
    font-size: 1rem;
    /*color: orange;*/
    float: right;
    transition: transform 0.5s;
    transform: rotate(0deg)
}
.slidedicon {
    color: #777777;
    padding: 3px;
    cursor: pointer;
    /*content: '\25bc';*/
    font-size: 1rem;
    /*color: orange;*/
    float: right;
    transition: transform 0.5s;
    transform: rotate(-90deg)
}
.slideicon:hover, .slidedicon:hover {
    color: black
}



/*#comment {
    padding: 3em;
    background: #fff
}*/

/*评论表单输入框*/
#comment form > * {
    margin: 0.8em 0;
    padding: 0.5em 1em;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

#thistag {
    color: #FF6138;
    font-weight: 700;
}

p.readmore {
    direction: rtl;
}

/*评论表单区*/
.commentform {
    padding: 0em 3em;
}
.commentform #submit {
    transition: background 0.3s;
    padding: 0.5em 1em;
    background: #E0E1E2;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
    border-radius: 5px;
    border: 0;
    font-size: 0.8em;
    font-weight: 700;
    cursor: pointer;
}

.commentform #submit:hover {
    background: #CACBCD;
    color: rgb(0, 0, 0)
}
/*评论输入框*/
#commentcontent {
    width: 100%;
    max-width: 100%;
    margin: 0 auto
}

/*显示评论区*/
.commentarea {
    padding:0 3em;
}

.commentarea ol {
    list-style: none;
    padding: 0;
    margin-top: 2em;
}

/*单个评论*/
.comment {
    margin: 0 0 3em;
}

/*评论信息（头像、作者、时间...）*/
.commentinfo {
    /*background-color: darkslategray;*/
    padding: 0 1em;
    border-radius: 10px 10px 0 0;
    /*cursor: pointer;*/
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #d8d8d8;
}

/*.comment .slide::after {
    content: '\25bc';
    margin-left: calc(50px - 1em);
    transition: transform 0.5s;
    transform: rotate(0deg)
}
.comment .slided::after {
    content: '\25bc';
    margin-left: calc(50px - 1em);
    transition: transform 0.5s;
    transform: rotate(-90deg)
}*/


.commentinfo img {
    border-radius: 50%;
    margin-right: 1em;
}

.authorblock {
    display: flex;
    align-items: center;
}

/*评论作者*/
.comment .author {
    font-size: 1rem;
    font-weight: 700;
    /*color: orange;*/
    margin: 0 0 5px;
}

/*评论时间*/
.comment .date {
    font-size: 0.8em;
}

/*评论内容区*/
.comment .content {
    position: relative;
    padding: 0 3em;
    line-height: 2;
    margin: 0;
    border: 1px solid #d8d8d8;
}

footer {
    background: #fcfcfc;
    border-top: 1px solid #dddddd;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /*color: #fff*/
}

@media (min-width:1250px){
    #main, .header {
        width: 1200px
    }
}

@media (max-width:670px) {
    .comment .content, article .content,
    .commentform, .commentarea {
        padding: 1em;
    }
    .logo {
        margin: 0 0 0 1em;
    }
    .navs {
        margin: 0 1em 0 0;
    }
    .nav {
        padding: 0 0.3em;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 670px){
    body {
        font-size: 15px;
    }
    #main {
        padding: 90px 0 0;
        flex-direction: column;
    }
    .articleinfo {
        border: none;
        border-radius: 0;
    }
    article .content, aside ul {
        border: none;
        border-radius: 0;
        /*border-bottom: 1px solid;*/
    }
    #article, aside {
        width: 100%;
        margin: 0 auto;
    }
    .slide .title::after, .slided .title::after {
        display: none
    }
    
    /*aside {
        display: none
    }*/
    /*nav li {
        display: initial
    }*/
}



/*markdown*/
blockquote {
    padding: 1em 2em;
    margin: 1em 0;
    border-left: 2px solid deepskyblue;
    font-style: italic;
    background: whitesmoke
}
blockquote p {
    margin: 0;
}

pre, code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    /*font-size: 1em;*/
    line-height: 1.45;
    background-color: #f7f7f7;
    overflow: auto;
}
pre {
    padding: 16px;
}
code {
    padding: 0.2em;
}

/*.recent .title{
    border-bottom: 1px solid;
    margin-bottom: 0;
}*/


/*.comment {
    font-family: 'YouYuan';
    display: table;
    font-size: 0.7em;
    color: orange;
    margin: 1em 3em;
    border: 2px dashed;
}
        
.commentdate {
    font-family: 'YouYuan';
    font-size: 0.5em;
    color: blue
}*/

